EnjoyTron/Tron.DebugClient.Demo/Service References/ClientService/ClientService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tron.WebService.TransportClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tron.WebService.TransportClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InitLoginReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReq">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitLoginReq" nillable="true" type="tns:InitLoginReq" />
  <xs:complexType name="BaseReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auth" nillable="true" type="tns:ReqAuth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseReq" nillable="true" type="tns:BaseReq" />
  <xs:complexType name="ReqAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SequenceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReqAuth" nillable="true" type="tns:ReqAuth" />
  <xs:complexType name="InitLoginResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResp">
        <xs:sequence>
          <xs:element minOccurs="0" name="Challenge" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitLoginResp" nillable="true" type="tns:InitLoginResp" />
  <xs:complexType name="BaseResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResp" nillable="true" type="tns:BaseResp" />
  <xs:complexType name="CompleteLoginReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChallengeResponse" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompleteLoginReq" nillable="true" type="tns:CompleteLoginReq" />
  <xs:complexType name="CompleteLoginResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResp">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompleteLoginResp" nillable="true" type="tns:CompleteLoginResp" />
  <xs:complexType name="CreatePlayerReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReq">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreatePlayerReq" nillable="true" type="tns:CreatePlayerReq" />
  <xs:complexType name="CreatePlayerResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResp">
        <xs:sequence>
          <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreatePlayerResp" nillable="true" type="tns:CreatePlayerResp" />
  <xs:complexType name="WaitGameStartReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WaitGameStartReq" nillable="true" type="tns:WaitGameStartReq" />
  <xs:complexType name="WaitGameStartResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResp">
        <xs:sequence>
          <xs:element minOccurs="0" name="GameId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WaitGameStartResp" nillable="true" type="tns:WaitGameStartResp" />
  <xs:complexType name="LeaveGameReq">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReq">
        <xs:sequence>
          <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeaveGameReq" nillable="true" type="tns:LeaveGameReq" />
  <xs:complexType name="LeaveGameResp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResp">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeaveGameResp" nillable="true" type="tns:LeaveGameResp" />
</xs:schema>